<div id="sub">
  <div>
    <img th:src="@{/img/sub_top_tit1.png}" alt="" />
  </div>
  <section class="introduction">
    <aside>
      <img th:src="@{/img/introduction_sub_aside_tit.png}" alt="" />
      <ul>
        <li>
          <a th:href="@{/introduction/hello}">
            <img th:src="@{/img/hello_lnb.png}" alt="" />
          </a>
        </li>
        <li class="on">
          <a th:href="@{/introduction/direction}">
            <img th:src="@{/img/direction_lnb.png}" alt="" />
          </a>
        </li>
      </ul>
    </aside>
    <article>
      <nav class="subNav">
        <img th:src="@{/img/direction_nav_tit.png}" alt="">
        <p>HOME > 팜스토리소개 > <em>찾아오시는길</em></p>
      </nav>