<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		 <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
		<title>index</title>
	</head>
	<body>
		<h3>Ch06. 스프링부트 타임리프 실습</h3>
		
		<h4>thymeleaf 기본출력</h4>
		<p>[[${tit}]]</p>
		<p th:text="${name}">내용</p>	
		
		<h4>thymeleaf 조건문</h4>
		<p>
			<span th:if="${user1.name=='홍길동'}">user1은 홍길동입니다.</span>
			<span th:if="${user1.name=='김유신'}">user1은 김유신입니다.</span>
			
		</p>
		<p>
			<span th:if="${user1.age > 20}">user은 성인입니다.</span>
			<span th:unless="${user1.age > 20}">user은 미성인입니다.</span>
		</p>
		<p th:if="${user1}">user1은 참입니다.</p>
		<p th:unless="${user1}">user1은 거짓입니다.</p>
		<p th:if="${user2}">user2은 참입니다.</p>
		<p th:unless="${user2}">user2은 거짓입니다.</p>
		<p th:switch="${user1.age > 20}">
			<span th:case="true">user1은 성인입니다.</span>
			<span th:case="false">user1은 미성인입니다.</span>
		</p>
		
		
		<h4>thymeleaf 반복문</h4>
		<table border="1">
			<tr th:each="user:${users}">
				<td>[[${user.uid}]]</td>
				<td>[[${user.name}]]</td>
				<td th:text=${user.hp}></td>
				<td th:text=${user.age}></td>
			</tr>
		</table>
		
		<h4>thymeleaf 링크</h4>
		<a th:href="@{/include}">타임리프 include</a>
		<a th:href="@{/layout}">타임리프 layout 실습</a>
		
	</body>
</html>