<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>user2/loginSuccess</title>
	</head>
	<body>
		<h3>user2/loginSuccess</h3>
		<p>
			아이디 : <span sec:authentication="principal.uid">아이디</span><br>
			이름 : <span sec:authentication="principal.name">이름</span><br>
			휴대폰: [[${#authentication.principal.hp}]]<br>
			나이 : [[${#authentication.principal.age}]]<br>
			가입일 : [[${#authentication.principal.rdate}]]<br>
		</p>
		<a th:href="@{/user2/logout}">로그아웃</a>	
		<a th:href="@{/}">메인이동</a>
	</body>
</html>