<th:block th:include="@{_header.html}"/>
<div id="sub">
  <div>
    <img src="../img/sub_top_tit2.png" alt="" />
  </div>
  <section class="cate2">
    <aside>
      <img src="../img/sub_aside_cate2_tit.png" alt="" />
      <ul>
        <li class="on">
          <a href="./market.html">
            <img src="../img/sub_cate2_lnb1.png" alt="" />
          </a>
        </li>
      </ul>
    </aside>
    <article>
      <nav></nav>
      <span>내용</span>
    </article>
  </section>
</div>
<th:block th:include="@{_footer.html}"/>