<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
	</head>
	<body>
		<h3>스프링부트 데이터베이스 실습</h3>
		
		<h4>JPA 기본 쿼리메서드</h4>
		<a th:href="@{/user1/list}">user1 목록</a>
		<a th:href="@{/user2/list}">user2 목록</a>
		<a th:href="@{/user3/list}">user3 목록</a>
		<a th:href="@{/user4/list}">user4 목록</a>
		<a th:href="@{/user5/list}">user5 목록</a>
		<a th:href="@{/user6/list}">user6 목록</a>
		
		<h4>JAP 쿼리메서드 실습</h4>
		<a th:href="@{/query1}">쿼리1</a><br>
		<a th:href="@{/query2}">쿼리2</a><br>
		<a th:href="@{/query3}">쿼리3</a><br>
		<a th:href="@{/query4}">쿼리4</a><br>
		<a th:href="@{/query5}">쿼리5</a><br>
		<a th:href="@{/query6}">쿼리6</a><br>
		<a th:href="@{/query7}">쿼리7</a><br>
		<a th:href="@{/query8}">쿼리8</a><br>
		<a th:href="@{/query9}">쿼리9</a><br>
		<a th:href="@{/query10}">쿼리10</a><br>
		<a th:href="@{/query11}">쿼리11</a><br>
		<a th:href="@{/query12}">쿼리12</a><br>
		<a th:href="@{/query13}">쿼리13</a><br>
		<a th:href="@{/query14}">쿼리14</a><br>
		<a th:href="@{/query15}">쿼리15</a><br>
		<a th:href="@{/query16}">쿼리16</a><br>
		<a th:href="@{/query17}">쿼리17</a><br>
		<a th:href="@{/query18}">쿼리18</a><br>
		<a th:href="@{/query19}">쿼리19</a><br>
		<a th:href="@{/query20}">쿼리20</a><br>
		<a th:href="@{/query21}">쿼리21</a><br>
	</body>
</html>