<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user6::list</title>
	</head>
	<body>
		<h3>user6 목록</h3>
		<a th:href="@{/}">Ch07 메인</a>
		<a th:href="@{/user6/register}">user6 등록</a>
		
		<table border="1">
			<tr>
				<th>이름</th>
				<th>나이</th>
				<th>주소</th>
				<th>휴대폰</th>
				<th>관리</th>			
			</tr>
			<tr th:each="user:${users}">
				<td>[[${user.name}]]</td>
				<td>[[${user.age}]]</td>
				<td>[[${user.address}]]</td>
				<td>[[${user.hp}]]</td>
				<td>
					<a th:href="@{/user6/modify(name=${user.name})}">수정</a>				
					<a th:href="@{/user6/delete(name=${user.name})}">삭제</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>