<th:block th:include="@{_header.html}"/>
<script th:src="@{/js/terms.js}"></script>
<main id="user" class="terms">
    <table>
        <caption>사이트 이용약관</caption>
        <tr>
            <td>
                <textarea class="terms" readonly>[[${terms[0].terms}]]</textarea>
                <label><input type="checkbox" class="terms" id="terms">&nbsp;동의합니다.</label>
            </td>
        </tr>
    </table>

    <table>
        <caption>개인정보 취급방침</caption>
        <tr>
            <td>
                <textarea class="privacy" readonly>[[${terms[0].privacy}]]</textarea>
                <label><input type="checkbox" class="privacy" id="privacy">&nbsp;동의합니다.</label>
            </td>
        </tr>
    </table>

    <p>
        <a th:href="@{/user/login}" class="cancel">취소</a>
        <a th:href="@{/user/register}" class="next" id="btnNext">다음</a>
    </p>
</main>
<th:block th:include="@{_footer.html}"/>