<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>약관</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/terms.js}"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
        </header>
        <main id="user" class="terms">
            <table border="0">
                <caption>사이트 이용약관</caption>
                <tr>
                    <td>
                        <textarea class="terms" readonly>[[${terms}]]</textarea>
                        <label><input type="checkbox" class="terms" id="terms">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <table border="0">
                <caption>개인정보 취급방침</caption>
                <tr>
                    <td>
                        <textarea class="privacy" readonly>[[${privacy}]]</textarea>
                        <label><input type="checkbox" class="privacy" id="privacy">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <p>
                <a th:href="@{/user/login}" class="cancel">취소</a>
                <a th:href="@{/user/register}" class="next" id="btnNext">다음</a>
            </p>            
        </main>

        <footer>
            <p>ⓒCopyleft by yndgow.or.kr</p>
        </footer>    
    </div>
</body>
</html>