<div id="sub">
  <div>
    <img th:src="@{/img/sub_top_tit4.png}" alt="" />
  </div>
  <section class="event">
    <aside>
      <img th:src="@{/img/sub_aside_cate4_tit.png}" alt="" />
      <ul>
        <li class="on">
          <a th:href="@{/board/list(group=_event, cate=event)}">
            <img th:src="@{/img/sub_cate4_lnb1.png}" alt="" />
          </a>
        </li>

      </ul>
    </aside>
    <article>
      <nav>
        <img th:src="@{/img/sub_nav_tit_cate4_tit1.png}" alt="이벤트">
        <p>HOME > 이벤트 </p>
      </nav>