<div id="sub">
  <div>
    <img th:src="@{/img/sub_top_tit2.png}" alt="" />
  </div>
  <section class="market">
    <aside>
      <img th:src="@{/img/sub_aside_cate2_tit.png}" alt="" />
      <ul>
        <li class="on">
          <a th:href="@{/board/list(group=_market, cate=market)}">
            <img th:src="@{/img/sub_cate2_lnb1.png}" alt="" />
          </a>
        </li>
      </ul>
    </aside>
    <article>
      <nav>
        <img th:src="@{/img/sub_nav_tit_cate2_tit1.png}" alt="">
        <p>HOME > 장보기</p>
      </nav>
