<th:block th:include="@{_header.html}"/>

<main id="board" class="list">

<th:block th:include="@{board/__${group}__.html}"/>

    <table>
        <caption>글목록</caption>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>날짜</th>
            <th>조회</th>
        </tr>

        <tr th:each="article:${articles}">
            <td>[[${pageVO.totalCount - articleStat.index}]]</td>
            <td><a th:href="@{/board/view(group=${group}, cate=${cate}, pg=${pg}, no=${article.no})}">[[${article.title}]] &#91;[[${article.comment}]]&#93;</a></td>
            <td>[[${article.user.nick}]]</td>
            <td>[[${#strings.substring(article.rdate, 2, 10)}]]</td>
            <td>[[${article.hit}]]</td>
        </tr>


    </table>
        <div class="page">
            <a th:href="@{/board/list(group=${group}, cate=${cate}, pg=1)}" class="prev">처음</a>

            <a th:href="@{/board/list(group=${group}, cate=${cate}, pg=${pageVO.prevIndex})}" class="prev" th:if="${pageVO.hasPrev}">이전</a>

            <th:block th:each="page : ${#numbers.sequence(pageVO.startNumber,pageVO.endNumber)}">
                <a th:href="@{/board/list(group=${group}, cate=${cate}, pg=${page})}" th:class="${page == pg ? 'num current' : 'num'}"  th:text="${page}"></a>
            </th:block>

            <a th:href="@{/board/list(group=${group}, cate=${cate}, pg=${pageVO.nextIndex})}" class="next" th:if="${pageVO.hasNext}">다음</a>

            <a th:href="@{/board/list(group=${group}, cate=${cate}, pg=${pageVO.totalPage})}" class="prev">&nbsp;끝&nbsp;</a>
        </div>

    <a th:href="@{/write}" class="btnWrite">글쓰기</a>

</article>
</section>
</div>
</main>

<th:block th:include="@{_footer.html}"/>