<th:block th:include="@{_header.html}"/>
<main id="board" class="view">
<th:block th:include="@{board/__${group}__.html}"/>
    <table>
        <!--<caption>글보기</caption>-->
        <tr>
            <th>제목</th>
            <td><input type="text" name="title" th:value="${article.title}" readonly/></td>
        </tr>
        <tr th:if="${article.file == 1}">
            <th>파일</th>
            <td><a th:href="@{/download(fno=${article.fileVO.fno})}">[[${article.fileVO.oriName}]]</a><span>[[${article.fileVO.download}]]</span>회 다운로드</td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea name="content" readonly>[[${article.content}]]</textarea></td>
        </tr>
    </table>

    <div class="viewBtnDiv">
        <a th:href="@{/board/{no}(no=${article.no})}" class="btn btnRemove">삭제</a>
        <a th:href="@{/board/modify(no=${article.no})}" class="btn btnModify">수정</a>
        <a th:href="@{/board/list(group=${group}, cate=${cate}, pg=${pg})}" class="btn btnList">목록</a>
    </div>

    <!-- 댓글목록 -->
    <section class="commentList">
        <h3>댓글목록</h3>
        <article>
            <span class="nick">길동이</span>
            <span class="date">20-05-13</span>
            <p class="content">댓글 샘플입니다.</p>
            <div>
                <a href="#" class="remove">삭제</a>
                <a href="#" class="modify">수정</a>
            </div>
        </article>
        <p class="empty">등록된 댓글이 없습니다.</p>
    </section>

    <!-- 댓글쓰기 -->
    <section class="commentForm">
        <h3>댓글쓰기</h3>
        <form action="#">
            <textarea name="content" placeholder="댓글내용 입력"></textarea>
            <div>
                <a href="#" class="btn btnCancel">취소</a>
                <input type="submit" class="btn btnComplete" value="작성완료"/>
            </div>
        </form>
    </section>

</article>
</section>
</div>
</main>

<th:block th:include="@{_footer.html}"/>