/* 태그 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}
input, textarea {outline: none;}

#wrapper {
    width: 800px;
    height: auto;
    margin: 0 auto;
}

/* 헤더공통 */
header {
    width: 100%;
    height: 35px;
    background: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
}
header > h3 {
    float: left;
    color: #777;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

header > p {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
header > p > .nick {
    font-weight: bold;
}
header > p > .logout:hover {
    text-decoration: underline;
}

/* 메인공통 */
main {
    width: 100%;
    height: auto;
}

/* 푸터공통 */
footer {
    width: 100%;
    height: 35px;
    background: #f7f7f7;
    border-top: 1px solid #ebebeb;
    box-sizing: border-box;            
}

footer > p {
    float: right;
    color: #777;
    margin-top: 10px;
    margin-right: 10px;
}

/* 로그인 */
#user.login {
    width: 360px;
    height: auto;
    border: 1px solid #cfded8;
    margin: 100px auto;
}
#user.login > form {
    position: relative;
    width: 100%;
    height: auto;            
}
#user.login > form > table {
    margin-left: 50px;
    margin-top: 26px;
}
#user.login > form > table tr {}
#user.login > form > table tr > td {}
#user.login > form > table tr > td > img {width: 20px;}
#user.login > form > table tr > td > input {
    width: 164px;
    height: 24px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    margin-top: 4px;
    margin-left: 6px;            
}
#user.login > form > .btnLogin {
    position: absolute;
    right: 46px;
    top: 6px;
    width: 64px;
    height: 58px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
}
#user.login > .info {
    width: 100%;
    height: 104px;
    background: #f5f6fa;
    border-top: 1px solid #cfded8;
    margin-top: 32px;
    padding: 16px;
    box-sizing: border-box;
}
#user.login > .info > h3 {}
#user.login > .info > p {
    margin: 10px 0;
}
#user.login > .info > a {
    float: right;
}

/* 약관 */
#user.terms {
    width: 600px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}
#user.terms > table {
    width: 100%;
    height: auto;
    border-spacing: 0;
    border-top: 2px solid #111;
}
#user.terms > table caption {
    text-align: left;
    font-weight: bold;
    padding: 10px 0;
}
#user.terms > table tr {}
#user.terms > table tr > td {
    border: 1px solid #e9e9e9;
    border-top: none;
    padding: 6px;
    box-sizing: border-box;
}
#user.terms > table textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #e4eaec;
    background-color: #f7f7f7;
    padding: 6px;
    box-sizing: border-box;
}
#user.terms > table label {
    float: right;
    margin: 6px 0;
}
#user.terms > table input[type=checkbox] {}

#user.terms > p {
    float: right;
    margin-top: 10px;
}
#user.terms > p > a {
    display: inline-block;
    width: 42px;
    height: 30px;
    border: 1px solid #bebebe;
    text-align: center;
    line-height: 30px;
}
#user.terms > p > a.next {
    background: #e9e9e9;
}

/* 회원가입 */
#user.register {
    width: 600px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}
#user.register > form {}
#user.register table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e9e9e9;
    border-top: 2px solid #111;
    margin-bottom: 16px;
}
#user.register table caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 6px;
}
#user.register table tr {}
#user.register table tr > th {
    width: 106px;
    height: 38px;
    background: #f5f8f9;
}
#user.register table tr > td {
    padding: 6px;
    box-sizing: border-box;
}
#user.register table input {
    width: 160px;
    height: 22px;
    border: 1px solid #e4eaec;
    background: #f7f7f7;
    text-indent: 6px;
}
#user.register table input[name=addr1] {
    display: block;
    margin: 5px 0;
    width: 360px;
}
#user.register table input[name=addr2] {
    width: 360px;
}
#user.register table button {
    border: none;
    background: none;
    vertical-align: middle;
}

#user.register > form > div {
    float: right;
}
#user.register > form > div > .btnCancel {
    display: inline-block;
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
}
#user.register > form > div > .btnRegister {
    display: inline-block;
    padding: 8px;
    border: 1px solid #bebebe;
    background: #e9e9e9;
}

/* 글목록 */
#board.list {
    position: relative;
    width: 720px;
    height: auto;            
    margin: 60px auto;
}
#board.list > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}

#board.list > table caption {
    text-align: left;
    margin-bottom: 6px;
}
#board.list > table tr {}
#board.list > table th {
    width: auto;
    height: 40px;
    background: #e5ecef;
    border-bottom: 1px solid #d1dee2;
}
#board.list > table th:nth-child(1) {}
#board.list > table th:nth-child(2) {}
#board.list > table th:nth-child(3) {}
#board.list > table th:nth-child(4) {}
#board.list > table th:nth-child(5) {}
#board.list > table td {
    width: auto;
    height: 38px;
    border-bottom: 1px solid #e9e9e9;
    text-align: center;
}

#board.list > table td:nth-child(2) {text-align: left;}

#board.list > .page {
    text-align: center;
    margin-top: 10px;
}
#board.list > .page > a {
    display: inline-block;
    padding: 8px;
    border: 1px solid #d7d7d7;
    background: #f2f2f2;
}
#board.list > .page > .prev {}
#board.list > .page > .next {}
#board.list > .page > .num {}
#board.list > .page > .current {
    border: 1px solid #6d6d6d;
    background: #888;
    color: white;
}

#board.list > .btnWrite {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    padding: 8px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: #fff;
}
/* 글쓰기 */
#board.write {
    width: 720px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}
#board.write table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
#board.write table caption {
    text-align: left;
    margin-bottom: 6px;
}
#board.write table tr {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
}
#board.write table th {
    width: 112px;
    height: 100%;
    background: #f5f8f9;
}
#board.write table td {
    padding: 10px;
    box-sizing: border-box;
}
#board.write table input {
    width: 100%;
    height: 24px;
    border: none;
}
#board.write table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: none;
}

#board.write > form > div {
    float: right;
    margin-top: 10px;
}
#board.write > form .btn  {
    padding: 8px;
    border: 1px solid #bebebe;
}
#board.write > form .btnCancel {}
#board.write > form .btnComplete {
    padding: 7px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: white;
}

/* 글보기 */
#board.view {
    width: 720px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}
#board.view table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
#board.view table caption {
    text-align: left;
    margin-bottom: 6px;
}
#board.view table tr {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
}
#board.view table th {
    width: 112px;
    height: 100%;
    background: #f5f8f9;
}
#board.view table td {
    padding: 10px;
    box-sizing: border-box;
}
#board.view table input {
    width: 100%;
    height: 24px;
    border: none;
}
#board.view table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: none;
}

#board.view > div {
    text-align: right;
    margin-top: 10px;
}
#board.view > div > a {
    display: inline-block;
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
}

#board.view > section {
    width: 100%;
    height: auto;
    border: 1px solid #e3e3e3;
    background: #f9f9f9;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
}
#board.view > section > h3 {
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px dotted #111;
    padding-bottom: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#board.view > .commentList {}
#board.view > .commentList  h3 {}
#board.view > .commentList  span {}
#board.view > .commentList .content {
    padding: 10px;
    box-sizing: border-box;
}
#board.view > .commentList > article > div {
    text-align: right;
}        
#board.view > .commentList .empty {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

#board.view > .commentForm {
    overflow: hidden;
}
#board.view > .commentForm > h3 {}
#board.view > .commentForm textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4eaec;
    resize: none;
    padding: 6px;
    box-sizing: border-box;
}
#board.view > .commentForm div {
    float: right;
    margin-top: 10px;
}
#board.view > .commentForm div > .btnCancel {
    padding: 8px;
    border: 1px solid #bebebe;
    background: #fdfdfd;
}
#board.view > .commentForm div > .btnComplete {
    padding: 7px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: white;
}


/* 글수정 */
#board.modify {
    width: 720px;
    height: auto;            
    margin: 60px auto;
    overflow: hidden;
}
#board.modify table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #111;
}
#board.modify table caption {
    text-align: left;
    margin-bottom: 6px;
}
#board.modify table tr {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e9e9e9;
}
#board.modify table th {
    width: 112px;
    height: 100%;
    background: #f5f8f9;
}
#board.modify table td {
    padding: 10px;
    box-sizing: border-box;
}
#board.modify table input {
    width: 100%;
    height: 24px;
    border: none;
}
#board.modify table textarea {
    width: 100%;
    height: 280px;
    resize: none;
    border: none;
}

#board.modify > form > div {
    float: right;
    margin-top: 10px;
}
#board.modify > form .btn  {
    padding: 8px;
    border: 1px solid #bebebe;
}
#board.modify > form .btnCancel {}
#board.modify > form .btnComplete {
    padding: 7px;
    border: 1px solid #3b3c3f;
    background: #4b545e;
    color: white;
}