<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
	</head>
	<body>
		<h3>Ch08. 스프링부트 Security</h3>
		
		<h4>인가 테스트</h4>
		<a th:href="@{/admin/success}">admin/success</a><br>
		<a th:href="@{/manager/success}">admin/manager</a><br>
		<a th:href="@{/member/success}">admin/member</a><br>
		<a th:href="@{/guest/success}">admin/guest</a><br>
		
		<h4>인증 테스트</h4>
		<a th:href="@{/user1/login}">session 로그인</a>
		<a th:href="@{/user2/login}">Spring security</a>
		
	</body>
</html>