<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>user2::list</title>
	</head>
	<body>
		<h3>user2 목록</h3>
		<a th:href="@{/}">Ch07 메인</a>
		<a th:href="@{/user2/register}">user2 등록</a>
		
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>휴대폰</th>
				<th>나이</th>
				<th>관리</th>			
			</tr>
			<tr th:each="user:${users}">
				<td>[[${user.uid}]]</td>
				<td>[[${user.name}]]</td>
				<td>[[${user.hp}]]</td>
				<td>[[${user.age}]]</td>
				<td>
					<a th:href="@{/user2/modify(uid=${user.uid})}">수정</a>				
					<a th:href="@{/user2/delete(uid=${user.uid})}">삭제</a>
				</td>
			</tr>
		</table>
		
	</body>
</html>