<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <title>팜스토리</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <div id="wrapper">
      <header>
        <a th:href="@{/}">
          <img th:src="@{/img/logo.png}" alt="" />
        </a>
        <img th:src="@{/img/head_txt_img.png}" alt="" />
        <p>
          <a th:href="@{/index}">HOME |</a>

<!--          <th:block th:if="${#session}">-->
<!--            <a sec:authentication="principal.user.nick"></a>-->
<!--            <a th:href="@{/user/logout}"> | 로그아웃</a>-->
<!--          </th:block>-->
<!--          <th:block th:unless="${#session}">-->
<!--            <a th:href="@{/user/login}">로그인 |</a>-->
<!--            <a th:href="@{/user/terms}">회원가입 </a>-->
<!--          </th:block>-->
          <a th:href="@{/user/customercenter}">| 고객센터</a>
        </p>
        <ul class="gnb">
          <li>
            <a th:href="@{/introduction/hello}">팜스토리소개</a>
          </li>
          <li>
            <a th:href="@{/board/list(group=_market)}">장보기</a>
            <img th:src="@{/img/head_menu_badge.png}" alt="" />
          </li>
          <li><a th:href="@{/board/list(group=_croptalk)}">농작물이야기</a></li>
          <li><a th:href="@{/board/list(group=_event)}">이벤트</a></li>
          <li><a th:href="@{/board/list(group=_community)}">커뮤니티</a></li>
        </ul>
      </header>

</html>
